---
import { link } from "~/config";
---

<footer class="region prose wrapper">
  See <a href={link.repo}>source code</a>,
  contributions are welcome! <span role="img" aria-label="waving hand emoji">👋</span>
</footer>
