---
import { link, site } from '~/config'
---

<header class="region prose wrapper hero">
  <h1>{site.name}</h1>

  <h2>
    a cosmic <a href={link.astro}>Astro</a> starter template,
    with <a href={link.cube_css}>CUBE CSS</a>
  </h2>
</header>
